<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布——敢心论坛</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/BraveHeart.css"/>
    <link rel="stylesheet" href="/css/editormd.min.css">
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/assignment.js" type="application/javascript"></script>
    <script src="/js/editormd.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span>发帖</h2>
            <hr>

            <form action="/publish" method="post">
                <input type="hidden" name="id" th:value="${id}">
                <div class="form-group">
                    <label for="title">标题</label>
                    <input type="text" class="form-control" th:value="${title}" id="title" name="title"
                           autocomplete="off" placeholder="标题。。。">
                </div>
                <div class="form-group" id="post-editor">
                    <label for="description">内容</label>
                    <textarea name="description" id="description" th:text="${description}" style="display: none;"
                              class=" form-control"
                              cols="30"
                              rows="10"></textarea>
                </div>
                <script type="text/javascript">
                    $(function () {
                        var editor = editormd("post-editor", {
                            width: "100%",
                            height: 350,
                            path: "/js/lib/",
                            delay:0,
                            watch:false,
                            placeholder:"请输入内容....",
                            imageUpload    : true,
                            imageFormats   : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                            imageUploadURL : "/file/upload",
                        });
                    });
                </script>
                <div class="form-group">
                    <label for="tag">添加标签</label>
                    <input type="text" class="form-control" id="tag"
                           th:value="${tag}" name="tag" autocomplete="off" placeholder="输入标签,以逗号分隔"
                           onclick="showSelectTat()">
                    <div id="select-tag" class="publish-tag-tab">
                        <div>
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" th:each="selectCategory,selectCategoryStat:${tags}"
                                    th:class="${selectCategoryStat.first ? 'active':''}">
                                    <a th:href="${'#'+selectCategory.categoryName}" aria-controls="home" role="tab"
                                       data-toggle="tab"
                                       th:text="${selectCategory.categoryName}"></a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" th:id="${selectCategory.categoryName}"
                                     th:each="selectCategory:${tags}"
                                     th:class="${selectCategoryStat.first ? 'active tab-pane':'tab-pane'}">
                                    <span class="label label-info" th:each="selectTag:${selectCategory.tags}">
                                        <span class="glyphicon glyphicon-tag" onclick="selectTag(this)"
                                              th:data-tag="${selectTag}"
                                              th:text="${' '+selectTag}"></span>
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <span class="alert alert-danger" th:text="${error}" th:if="${error!=null}"></span>
                <button type="submit" class="btn btn-success btn-publish">发布帖子</button>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 cl-xs-12">
            <div class="alert alert-warning" role="alert">用户的言行不得违反《计算机信息网络国际联网安全保护管理办法》、《互联网信息服务管理办法》、《互联网电子公告服务管理规定》、《维护互联网安全的决定》、《互联网新闻信息服务管理规定》等相关法律规定</div>
            <div class="alert alert-warning" role="alert">禁止在发帖回帖中出现容易引起严重跟风行为、具有严重煽动性,破坏团结和谐的论坛氛围的内容</div>
            <div class="alert alert-warning" role="alert">禁止在本论坛发布任何以经济或物质利益为目的的商业宣传或者与经济利益挂钩的内容</div>
            <div class="alert alert-warning" role="alert">禁止在论坛中发表含有猥亵、色情、人身攻击和反政府言论等非法或侵权言论的信息</div>
            <div class="alert alert-warning" role="alert">本协议未涉及的问题参见国家有关法律法规，当本协议与国家法律法规冲突时，以国家法律法规为准。</div>

        </div>
    </div>
</div>
</body>
</html>